@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Lato:wght@300;400;700&display=swap');

* {
    margin: 0;
}

header {
    width: 95%;
    margin: 0 auto;
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-family: 'Cormorant Garamond';
}

body {
    background-color: rgb(244, 244, 244);
}

button {
    background-color: white;
    border-radius: 30px;
    padding: 15px;
    outline: none;
    border: none;
    box-shadow: 0 0 8px rgb(105, 105, 105);
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

button:hover{
    background-color: rgb(245, 245, 245);
}

h1{
    font-size: 100px;
    font-weight: 500;
}

h3 {
    font-family: 'Cormorant Garamond';
    font-weight: 500;
    font-size: 32px;
}

p{
    color: rgb(0, 0, 0);
    font-size: 20px;
}

#size_buttons {
    margin-top: 10px;
    gap: 3%;

    button{
        height: 110px;
        width: 110px;
    }

    svg {
        margin-bottom: 5%;
    }
}

.slide_panel.on{
    right: 0;
}

.slide_panel {
    position: fixed;
    right: -30%;
    top: 0;
    width: 30%;
    height: 100%;
    background-color: white;
    transition: 0.4s ease;
    z-index: 3;
    font-family: 'Cormorant Garamond';

    #upper{
        margin: 0 auto;
        margin-top: 5%;
        width: 85%;
        height: 85%;

        button{
            background: none;
            outline: none;
            border: none;
            box-shadow: none;

            display: flex;
            flex-direction: row;
            align-items: center;

            svg {
                scale: -1;
                height: 30px;
                width: 65px;
            }
        }

        #top_panel{
            height: 15%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            h2{
                font-size: 60px;
                font-weight: 600;
            }
            h3{
                margin-right: 8%;
            }

            button{
                transition: 0.2s ease;
            }

            button:hover{
                scale: 1.1;
            }
        }

        #order_list{
            width: 95%;
            height: 85%;
            margin: 0 auto;

            h3{
                font-size: 50px;
            }

            #order_instance{
                margin-top: 20px;
                height: 15%;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                img{
                    height: 80%;
                    aspect-ratio: 1;
                    margin-left: 5%;
                }

                h4{
                    font-size: 32px;
                }

                p{
                    color: white;
                    padding: 5px;
                    padding-left: 15px;
                    padding-right: 15px;
                    background-color: rgb(218, 75, 75);
                    border-radius: 30px;
                    font-size: 30px;
                    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
                }
            }
        }
    }
    #lower{
        height: 10%;
        width: 100%;
        background-color: rgb(183, 137, 85);

        #lower_box{
            width: 90%;
            height: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            font-size: 35px;

            h2 {
                font-weight: 500;
            }

            #price_all{
                font-size: 45px;
                font-weight: 300;
            }
        }
    }
}

.screen_shade{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(199, 199, 199, 0.463);
    transition: 0.3s ease;
    z-index: 2;
}

.screen_shade.off{
    background-color: rgba(199, 199, 199, 0);
    z-index: -1;
}

#line{
    background-color: rgb(167, 123, 72);
    height: 0.2%;
}

#slide_panel:hover{
    right: 0;
}

#text_buttons {
    display: flex;
    flex-direction: row;
    gap: 3%;
    margin-top: 10px;

    button{
        padding: 7px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

#price_and_switch{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    align-items: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    h2{
        font-size: 70px;
        font-weight: 500;
    }

    button{
        background: none;
        outline: none;
        border: none;
        box-shadow: none;
    }
}

#switch{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 8px rgb(105, 105, 105);
    border-radius: 30px;
    height: 50px;
    margin-left: 5%;
    
    button{
        font-size: 35px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    button:hover{
        color: rgb(46, 46, 46);
    }
}

#order_panel {
    display: flex;
    flex-direction: row;
    align-items: center;

    #bell_icon {
        background-color: rgb(183, 137, 85);
        padding: 25px;
        border-radius: 60px;
        position: relative;
        left: 9%;   
    }

    button{
        z-index: 1;
        background: none;
        border: none;
        transition: 0.2s ease;
        border: none;
        box-shadow: none;
    }

    button:hover{
        scale: 1.05;
    }

    h4 {
        font-size: 28px;
        font-family: 'Cormorant Garamond', sans-serif;
    }

    h5 {
        font-family: 'Courier New', Courier, monospace;
        font-size: 30px;
        color: white;
        background-color: rgb(218, 75, 75);
        border-radius: 20px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

#order_button{
    margin-top: 40px;
    color: white;
    background-color: rgb(218, 75, 75);
    font-family: 'Cormorant Garamond';
    font-size: 30px;
    padding: 20px;
    border-radius: 40px;
    padding-left: 50px;
    padding-right: 50px;
}

#order_button:hover{
    background-color: rgb(184, 60, 60);
}

#header_left{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: min-content;
    gap: 7%;
    text-decoration: none;
    transition: 0.3s ease;

    h2 {
        font-size: 40px;
        text-wrap: nowrap;
        font-weight: 500;
        text-decoration: none;
        color: black;
    }
    
    svg{
        height: 40px;
        width: 80px;
    }
}

#header_left:hover{
    scale: 1.1;
}

#main_box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-family: 'Cormorant Garamond';
    
    h5{
        font-size: 25px;
        margin-top: 25px;
        color: rgba(112, 112, 112, 0.578);
    }
}


#coffee_image {
    height: 900px;
    width: 900px;
    position: relative;
    left: -10%;
    filter: drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.386));
    margin-top: 120px;
    margin-right: 150px;
}

#coffee_box {
    font-display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#switch {
    display: flex;
    flex-direction: row;
}

#size_buttons {
    display: flex;
    flex-direction: row;
}