@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Lato:wght@300;400;700&display=swap');

* {
    margin: 0;
}

header {
    width: 95%;
    margin: 0 auto;
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-family: 'Cormorant Garamond';
}

body {
    background-color: rgb(244, 244, 244);
}

button {
    background-color: white;
    border-radius: 30px;
    padding: 15px;
    outline: none;
    border: none;
    box-shadow: 0 0 8px rgb(105, 105, 105);
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

button:hover{
    background-color: rgb(245, 245, 245);
}

h1{
    font-size: 100px;
    font-weight: 500;
}

h5{
    font-size: 25px;
    margin-top: 25px;
    color: rgba(112, 112, 112, 0.578);
}

h3 {
    font-family: 'Cormorant Garamond';
    font-weight: 500;
    font-size: 32px;
}

p{
    color: rgb(0, 0, 0);
    font-size: 20px;
}

#size_buttons {
    margin-top: 10px;
    gap: 3%;

    button{
        height: 110px;
        width: 110px;
    }

    svg {
        margin-bottom: 5%;
    }
}

#text_buttons {
    display: flex;
    flex-direction: row;
    gap: 3%;
    margin-top: 10px;

    button{
        padding: 7px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

#price_and_switch{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    align-items: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    h2{
        font-size: 70px;
        font-weight: 500;
    }

    button{
        background: none;
        outline: none;
        border: none;
        box-shadow: none;
    }
}

#switch{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 8px rgb(105, 105, 105);
    border-radius: 30px;
    height: 50px;
    margin-left: 5%;
    
    button{
        font-size: 35px;
        height: 100%;
    }
    button:hover{
        color: rgb(46, 46, 46);
    }
}

#order_button{
    margin-top: 40px;
    color: white;
    background-color: rgb(218, 75, 75);
    font-family: 'Cormorant Garamond';
    font-size: 30px;
    padding: 20px;
    border-radius: 40px;
    padding-left: 50px;
    padding-right: 50px;
}

#header_left{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 25%;
    gap: 4%;
    
    h2 {
        font-size: 40px;
        text-wrap: nowrap;
        font-weight: 500;
    }
    
    svg{
        height: 40px;
        width: 80px;
    }
}

#header_right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    
    width: 27%;
    
    #count {
        font-size: 50px;
        background-color: rgb(218, 75, 75);
        border-radius: 20px;
        color: white;
    }
    
    span{
        margin-right: 6%;
        font-size: 32px;
        z-index: 1;
        font-weight: 400;
        line-height: 0.7;
        padding-left: 7px;
        padding-right: 7px;
    }
}

#bell_icon {
    background-color: rgb(183, 137, 85);
    padding: 30px;
    border-radius: 60px;
    position: relative;
    left: 4%;
}

#main_box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-family: 'Cormorant Garamond';
}


#coffee_image {
    height: 900px;
    width: 900px;
    position: relative;
    left: -10%;
    filter: drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.386));
    margin-top: 120px;
    margin-right: 150px;
}

#coffee_box {
    font-display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#switch {
    display: flex;
    flex-direction: row;
}

#size_buttons {
    display: flex;
    flex-direction: row;
}